.nav-list {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 2rem;
    transition: all .5s ease-in-out;

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;


        li {
            color: #fff;
            border-bottom: 1px solid #fff;
            padding: 1rem;
            cursor: pointer;
            text-align: center;
        }
    }
}



.show {
    transform: translateX(0);
}


.hide {
    transform: translateX(-100%);
}