nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

ul {
    list-style: none;
    display: flex;
    gap: 2rem;

    a {
        text-decoration: none;
        color: var(--color-black);
        font-weight: 500;
        transition: all .3s ease-in-out;
    }

    a:hover {
        color: var(--color-two);
    }
}