.hero {

    background-color: #e0d8d8;
    height: 100dvh;

    .content {
        border: 1px solid red;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 4rem 0;
    }
}