.hero {
    display: flex;
    width: 300dvw;

    .content {
        padding: 4rem 4rem;
        height: 100dvh
    }

    .c1 {
        flex: 1;
        color: var(--color-gray);
        width: 100dvw;
        display: flex;
        background-color: var(--color-gray);

    }


    .c2 {
        color: var(--color-black);
        width: 100dvw;
    }

    .c3 {
        color: var(--color-blacky);
        width: 100dvw;
    }
}