@import url('https://fonts.googleapis.com/css2?family=Jura:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,
body {
  font-family: 'jura', sans-serif;
  background-color: var(--color-white);
  color: var(--color-black);
  scroll-behavior: smooth;

}

.container {
  padding: 0 4rem;
}

:root {
  --color-bg: #969393;
  --color-one: #7dbf9e;
  --color-two: #537a69;
  --color-three: #61b3b0;
  --color-black: #434141;
  --color-white: #c9c9c9;
  --color-gray: #dbd9d9;

}

.btn {
  background-color: var(--color-one);
  padding: .5rem 1rem;
  border-radius: .4rem;
  border: none;
  cursor: pointer;
  transition: all .5s ease-in-out;
}

.btn:hover {
  background-color: var(--color-two);
  color: var(--color-white)
}

body::-webkit-scrollbar {
  display: none;
}